*{
    margin: 0%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3c3f4f;
    
}

.po{
    height: 140px;
    align-self: center;
    margin-top: 15em ;
    margin-left: 2em ;
}
.hehehe {
    display: flex;
    flex-direction: row;
    height: 40em;
    margin: 3em;
}

.flxp
{
    justify-content: flex-end;
    flex-direction: column;
    
}
.age{
    margin-top: 4em;
    margin-left: 7em ;
    color: #FFFFFF;
}