body {
    width: 98%;
    background-color: #3c3f4f;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10em;
}

.title {
    font-size: 32px;
    font-family: 'Roboto';
    margin-left: 50px;
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10em;
}

.input-container input {
    width: 20em;
    border-radius: .5em;
    outline: none;
}

.input-container > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20em;


}

.iia-1 {
    color: #fff;
    
}

.iia-2{
    color: #fff;
}

* {
}

.batao{
background-color: #292929;
}